<h2>Equip de Programadors</h2>
<p>Alumnes encarregats del desenvolupament del Projecte Civilizations (Grupo 2):</p>

<div class="grid-programadores">
    <div class="card-user">
        <h3>Anna Puig</h3>
        <p><strong>Mòdul:</strong> M03 (Programació en Java)</p>
        <p><strong>Tasques:</strong> Lògica de combat, càlcul de pèrdues, POO i gestió de l'aplicació en consola.</p>
    </div>

    <div class="card-user">
        <h3>Ariadna Martinez</h3>
        <p><strong>Mòdul:</strong> M02 i M04 (Bases de Dades i Llenguatges de Marques)</p>
        <p><strong>Tasques:</strong> Disseny de l'esquema MySQL, connexió de dades amb Node.js, vistes dinàmiques amb Handlebars i maquetació CSS adaptativa.</p>
    </div>

    <div class="card-user">
        <h3>Melisbeth Rojas</h3>
        <p><strong>Mòdul:</strong> M09 (Interfícies i GUI)</p>
        <p><strong>Tasques:</strong> Desenvolupament de la interfície gràfica d'usuari en Java Swing/JavaFX per interactuar amb el joc.</p>
    </div>
</div>