<h2>Equipo de programadores</h2>
<p>Alumnos encargados del desarrollo del proyecto Civilizations (Grupo 2):</p>
<br>
<div class="grid-programadores">
    <div class="card-user">
        <h3>Anna Puig</h3>
        <p><strong>Módulo:</strong> M03 (Programación en Java)</p>
        <p><strong>Tareas:</strong> Lógica de combat, cálculo de pérdidas, POO y gestión de la aplicación en consola.</p>
    </div>
    <br>

    <div class="card-user">
        <h3>Ariadna Martinez</h3>
        <p><strong>Módul:</strong> M02 i M04 (Bases de Dades i Llenguatges de Marques)</p>
        <p><strong>Tareas:</strong> Diseño del esquema MySQL, conexión de datos con Node.js, vistas dinámicas con Handlebars y maquetación CSS adaptativa.</p>
    </div>
    <br>

    <div class="card-user">
        <h3>Melisbeth Rojas</h3>
        <p><strong>Módul:</strong> M09 (Interfícies i GUI)</p>
        <p><strong>Tareas:</strong> Desenvolupament de la interfície gràfica d'usuari en Java Swing/JavaFX per interactuar amb el joc.</p>
    </div>
</div>

<p style="margin-top: 20px;"><a href="/">Volver a la portada</a></p>